:root {
  font-family: arial,sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  height: 100vh;
}

#app {
  margin: 0 auto;
  text-align: center;
  color: black;
  font-weight: 400;
}


.input-btn {
  --at-apply: bg-[#dadce0] b-1 b-solid b-[#dadce0] line-height-[36px] rounded h-[34px]
}

.input-btn--light {
  --at-apply: bg-[#f1f3f4] b-[#f1f3f4] 
}
.input-btn--blue {
  --at-apply: bg-[#4285f4] b-[#4285f4]  font-bold text-white font-size-[18px]
}

.license{
  position: fixed;
  bottom: 0;
  background:#000;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 2px;
}
